
/* font size */
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f21 { font-size: 21px; }
.f22 { font-size: 22px; }
.f28 { font-size: 28px; }

/* width */
.w10px { width: 10px; }
.w28px { width: 28px; }
.w25px { width: 25px; }
.w36px { width: 36px; }
.w38px { width: 38px; }
.w40px { width: 40px; }
.w50px { width: 50px; }
.w75px { width: 75px; }
.w300px {width: 300px; }

.w30pe { width: 30%; }
.w40pe { width: 40%; }
.w60pe { width: 60%; }
.w70pe { width: 70%; }
.w100pe { width: 100%; }


/* height */
.h10px { height: 10px; }
.h28px { height: 28px; }
.h38px { height: 38px; }
.h36px { height: 36px; }
.h40px { height: 40px; }
.h56px { height: 56px; }
.h100vh { height: 100vh; }
.h100pe { height: 100%; }

/* padding x*/
.px9  { padding: 0 9px ;}
.px16 { padding: 0 16px; }
.px24 { padding: 0 24px; }

/* padding y*/
.py7 { padding: 7px 0; }
.py5 { padding: 5px 0; }
.px8 { padding: 12px 16px; }

/* padding top */
.pt5  { padding-top: 5px; }
.pt7  { padding-top: 7px; }
.pt10  { padding-top: 10px; }
.pt24 { padding-top: 24px; }

/* padding left */
.pl9  { padding-left: 9px;  }
.pl24 { padding-left: 24px; }

/* padding right */
.pr9  { padding-right: 9px;  }
.pr16 { padding-right: 16px; }
.pr24 { padding-right: 24px; }

/* padding bottom */
.pb5 { padding-bottom: 5px; }
.pb7 { padding-bottom: 7px; }

/* Padding */
.p3 { padding: 3px; }
.p4 { padding: 4px; }
.p10 { padding: 10px; }
.p16 { padding: 16px; }
.p24 { padding: 24px; }

/* margin-top */
.mt7  { margin-top: 7px; }
.mt36 { margin-top: 36px; }
.mt48 { margin-top: 48px; }
.mt90 { margin-top: 90px; }
.mt100 { margin-top: 100px; }

/* margin-bottom */
.mb3 { margin-bottom: 3px; }
.mb4 { margin-bottom: 5px; }
.mb7 { margin-bottom: 7px; }
.mb8 { margin-bottom: 8px; }
.mb10 { margin-bottom: 10px; }
.mb16 { margin-bottom: 16px; }
.mb24 { margin-bottom: 24px; }

/* margin left */
.ml8 { margin-left: 8px; }
.ml16 { margin-left: 16px; }
.ml24 { margin-left: 24px; }

/* margin right */
.mr8 { margin-right: 8px; }
.mr16 { margin-right: 16px; }

/* margin top auto  */
.mt-auto { margin-top: auto !important; }

/* margin left auto  */
.ml-auto { margin-left: auto !important; }

/* position */
.pos_abs { position: absolute; }
.pos_rel { position: relative; }
.right0  { right: 0; }
.left0   { left: 0; }
.bottom0 { bottom: 0; }

/* bottom */
.bottom10 { bottom: 10px; }

/* right10 */
.right10 { right: 10px; }

/* overflow hidden */
.overflow-hidden { overflow: hidden; }

/* border-radius */
.rounded-sm { border-radius: var(--br-radius-sm); }
.rounded-full { border-radius: var(--br-radius-full); }
.rounded-lg { border-radius: var(--br-radius-lg); }

/* text uppercase */
.text-uppercase { text-transform: uppercase; }

.text-elps { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* hidden */
.invisible { visibility: hidden; }
